Source: umi-mx-icon-theme
Section: x11
Priority: optional
Maintainer: UMI Packages Builder <packages@umilab.org>
Standards-Version: 3.9.8
Build-Depends:
 debhelper (>= 9),
 gtk-update-icon-cache,
 x11-apps,
 inkscape,
 python3

Package: umi-mx-icon-theme
Architecture: all
Suggests: umi-mx-gtk-theme
Depends: Depends: ${misc:Depends}
Description: UMI Moon X design Icons
